* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violet: #413387;
    --skyblue: #74cbdd;
    --yellow: #fff547;
    --pink: #e73886;
    --green: #2e914a;
}

html {
    font-size: 100%;
}

#board {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    background-color: var(--violet);
}

.space {
    border: 15px solid var(--violet);
    border-radius: 50%;
    background-color: #fff;
}

section {
    height: 100vh;
}
