* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

#board {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}

.space {
    border: 1px solid black;
}

section {
    height: 100vh;
}
